<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!-- 加载jdbc.properties文件 -->
<properties resource="jdbc.properties"></properties>
	<typeAliases>
		<package name="com.zft.entity"/>
	</typeAliases                                                                                                                                                                            >
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC">
      </transactionManager>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${userName}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
                                                                                          
  <mappers>
	    <mapper resource="com/zft/config/userMapper.xml"/>	
	    <mapper resource="com/zft/config/cartMapper.xml"/>
	    <mapper resource="com/zft/config/addressMapper.xml"/>    
	    <mapper resource="com/zft/config/orderMapper.xml"/>    
	    <mapper resource="com/zft/config/orderItemMapper.xml"/>    
	    <mapper resource="com/zft/config/productMapper.xml"/>    
  </mappers>

</configuration>
